
<div style="margin-bottom:5cm" class="container">
<section>


    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>

    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact me directly</p>

    <div style="margin-left:5cm" class="row">
            <div class="col-md-3 text-center">
                <li>
                    <i class="fas fa-map-marker-alt mt-4 fa-2x"></i>
                    <p>Nilüfer/Bursa</p>
                </li>
                </div>
            <div class="col-md-3 text-center">
                <li>
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+90 536 471 74 36</p>
                </li>
            </div>
            <div class="col-md-3 text-center">
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>sefasuna@gmail.com</p>
                </li>
            </div>
     

    </div>

</section>
  
</div>