@{
    ViewData["Title"] = "Home Page";
}

<div  class="jumbotron">
    <div class="container mt-5">
    <h1 class="display-4">Hello, Welcome!</h1>
    <p class="lead">Would you like to buy Phone,Car and Tv? If you want,you are right address</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/home/contact" role="button">Contact Us</a>
    </p>
    </div>
</div>

<div class="row featurette mx-5 my-5">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><a style="text-decoration:none" href="/Product/Phone">Phones</a></h2>
        <p class="lead">Do you have a mobil phone or do you want to change your  mobil phone? You are right address. Let's look mobil phone for you</p>
    </div>
    <div class="col-md-5 electronic" width="500" height="300">
        <a href="/product/phone/?name=all"><img src="~/img/Phones.jpg" width="500" height="300" /></a>
    </div>
</div>
<hr class="featurette-divider">
 <div class="row featurette mx-5 my-5 ">
        <div class="col-md-5 book" width="500" height="300">
        <a href="/product/book/?name=all"><img src="~/img/book.jpg" width="500" height="300" /></a>
 
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><a style="text-decoration:none" href="/Product/Book">Book</a></h2>
        <p class="lead">Do you want to buy a book? You are right address. </p>
    </div>
   
</div>
<hr class="featurette-divider">
<div class="row featurette mx-5 my-5">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"><a style="text-decoration:none" href="/Product/Tv">TV</a></h2>
        <p class="lead">Do you have a Tv? You are right address. Let's look mobil phone for you</p>
    </div>
    <div class="col-md-5 electronic" width="500" height="300">
        <a href="/product/tv/?name=all"><img src="~/img/TVs.jpg" width="500" height="300" /></a>
    </div>
</div>
