<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
</head>
<body>
    @if(User.Identity.IsAuthenticated){
        <header class="p-3 text-bg-dark bg-dark hea">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>

                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-white bt">Home</a></li>
                        <li><a href="/Product/Phone/?name=all" class="nav-link px-2 text-white bt">Phone</a></li>
                        <li><a href="/Product/Book/?name=all" class="nav-link px-2 text-white bt">Book</a></li>
                        <li><a href="/Product/Tv/?name=all" class="nav-link px-2 text-white bt">TV</a></li>
                        <li><a href="/home/contact" class="nav-link px-2 text-white bt">Contact Us</a></li>
                    </ul>

                    <div style="margin-left:9cm">
                        <button onClick="parent.location='/Cart/Index'" type="button" class="btn btn-warning ">My Cart</button>
                        <button onClick="parent.location='/account/logout'" type="button" class="btn btn-warning ">Logout</button>
                    </div>
                </div>
            </div>
        </header>
    }
    else{
    <header class="p-3 text-bg-dark bg-dark hea ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/" class="nav-link px-2 text-white bt">Home</a></li>
                    <li><a href="/Product/Phone/?name=all" class="nav-link px-2 text-white bt">Phone</a></li>
                   <li><a href="/Product/Book/?name=all" class="nav-link px-2 text-white bt">Book</a></li>
                    <li><a href="/Product/Tv/?name=all" class="nav-link px-2 text-white bt">TV</a></li>
                        <li><a href="/home/contact" class="nav-link px-2 text-white bt">Contact Us</a></li>
                </ul>



                    <div style="margin-left:9cm">
                    <button onClick="parent.location='/account/login'" type="button" class="btn btn-warning ">Login</button>
                    <button onClick="parent.location='/account/signup'" type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    }
        

       @RenderBody()
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
            <div class="col-md-4 d-flex align-items-center">
               
                <strong class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</strong>
            </div>
            
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

               
                <a target="_blank" style="text-decoration: none;font-size: 1cm; background-color: white;border-radius:5px;color: black;" href="https://www.linkedin.com/in/sefa-suna-6b72b91b3/" class="fa-brands fa-linkedin-in mr-3 "></a>
                <a target="_blank" style="text-decoration: none;font-size: 1cm; background-color: white;border-radius:5px;color: black;" href="https://github.com/SefaSuna" class="fa-brands fa-github mx-3"></a>
                <a target="_blank" style="text-decoration: none;font-size: 1cm; background-color: white;border-radius:5px;color: black;" href="https://www.instagram.com/sefasunaa/" class="fa-brands fa-instagram-square mx-3"></a>
                <a target="_blank" style="text-decoration: none;font-size: 1cm; background-color: white;border-radius:5px;color: black;" href="https://www.kaggle.com/stark1624" class="fa-brands fa-kaggle ml-3"></a>
                </ul>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
